<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Ver Requerimientos</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        nav {
            background-color: red;
        }

        .navbar-nav .nav-link {
            color: white;
        }

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/requerimiento}" href="/requerimento">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/requerimiento/create}"
                        href="/requerimiento/create">Agregar Requerimientos</a>
                    <a class="nav-link" th:href="@{/requerimento/read}"
                    href="/requerimiento/read">Ver Requerimientos</a>
                    <a class="nav-link" th:href="@{/requerimento/search}" href="/requerimiento/search">Editar Requerimientos</a>
                </div>
            </div>

        </div>
    </nav>

        <table>
            <tr>
                <th>Identificador Producto</th>
                <th>Identificador Tipo de Insumo</th>
                <th>Cantidad</th>
               
  
            </tr>

                <tr  th:each="requerimento : ${requerimiento}">
                    <td th:text="${requerimento.getProductoID()}">Row 1, Column 1</td>
                    <td th:text="${requerimento.getTipoInsumoID()}">Row 1, Column 2</td>
                    <td th:text="${requerimento.getCantidad()}">Row 1, Column 2</td>

                </tr>


            <!-- Add more rows as needed -->
        </table>
        </div>
</body>

</html>